[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]

[(#REM) Base CSS ]
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="#URL_SITE_SPIP/assets/css/main.css" type="text/css" />

[(#REM) Favicon ]
<link rel="icon" type="image/x-icon" href="#URL_SITE_SPIP/assets/img/favicon.ico" />
<link rel="apple-touch-icon" href="#URL_SITE_SPIP/assets/img/apple-touch-icon.png" />
