<plugin>
	<nom><multi>[fr]CKEditor 4.8.0 pour SPIP[en]CKEditor for SPIP</multi></nom>
	<auteur>Telkea Telecom</auteur>
	<licence>GNU/GLP</licence>
	<version>1.0</version>
	<description>
	<multi>[fr]CKEditor 4.8.0 pour SPIP[en]CKEditor for SPIP</multi>
	</description>
	<etat>stable</etat>
	<prefix>ckeditor</prefix>
	<icon>images/ckspip-logo.png</icon>
	
	<pipeline>
		<nom>header_prive</nom>
		<inclure>ckeditor_fonctions.php</inclure>
	</pipeline>
</plugin>